#habit-div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    margin: 10px;
    padding: 20px;
    width: 300px;
    border-radius: 200px;
    font-family: Helvetica, Arial, sans-serif;
    border: dashed 1px #ddd;
}

#habit-name-label {
    color: #999;
    width: 100%;
    vertical-align: center;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.25s, opacity 0.25s linear;
  }

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.25s linear;
  }
