#frame {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content {
    width: clamp(200px, 100%, 600px);
    height: 100%;
    margin: 1em;
    overflow: auto;
}

#navigator {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#edit-menu {
    position: absolute;
    bottom: 0px;
}

#edit-button {
    border-radius: 100%;
    background-color: #aaaaaa22;
    padding: 0.5em;
}