table {
    table-layout: auto;
    text-overflow: ellipsis;
    width: 100%;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.25s, opacity 0.25s linear;
  }

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.25s linear;
  }