table {
    table-layout: auto;
    text-overflow: ellipsis;
    width: 100%;
    border-spacing: 0px;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.25s, opacity 0.25s linear;
  }

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.25s linear;
  }

  input,input:focus {
    border: solid 1px #00000022;
    padding: 0.25em;
    outline-width: 0px;
    color: #999;
    font-size: 1em;
  }